.question{
    display: flexbox;
    text-align: center;
    justify-content: center;
    background-color: black;
    border-radius: 40%;
    width: 45%;
    font-size: 400%;
    outline: dashed 7px white;
    left: 27%;
    position: relative;
}